/*------------------Barre DEV------------------*/
.buttDev{
    margin: 0px 5px;
}

/*------------------Barre Nav------------------*/
#logoNav{
    max-height: 40px;
}
/*------------------Profil truck------------------*/

.listeSansPuce{
    list-style:none;
}

.listeSansPuceCentree{
    list-style:none;
    text-align: center;
}
.cardAdresse{
    margin: 20px;
    text-align: center;
}

.cardPlats{
    margin: 10px;
    text-align: center;
}


.inputAdresse{
    width: 300px;
    margin-right: 20px;
}

.buttonAdd{
    margin-left: 20px;
}

.rowCard{
    margin: 10px;
}

.adresseCard{
    margin: 10px;
}

.imageCardSm{
    width: 100%;
    height: 120px;
}

.imageCardXl{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*------------------Modal Julian------------------*/
  .rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
}
.rating a {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a     {
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}

/*------------------ IMAGES -----------------*/
.imageXs{
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.imageSmall{
    width: 150px;
    height: 120px;
    border-radius: 5px;
}

.imageMedium200{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.imageMedium{
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.imageBig{
    width: 400px;
    max-height: 350px;

}

.carousel-item{
    text-align: center;
}

.partGauche{
    text-align: center;
    vertical-align: middle;
}
